@charset "utf-8";

/* ******************************************************************** */
/* ** FILL BACKGROUND                                                ** */
/* ******************************************************************** */
#bg {
	min-height: 100%; /* fill background */
	min-width: 1024px;
	width: 100%;  /* proportionate scaling */
	height: auto;
	position: fixed; top: 0; left: 0; /* positioning */}
@media screen and (max-width: 1024px){
	#bg {left: 50%; margin-left: -512px;} /* Small viewers */
}



/* ******************************************************************** */
/* ** SHARED                                                         ** */
/* ******************************************************************** */
div#unityPlayer {
	cursor: default;
	height: 768px;
	width: 1024px;
}
img {border:0;}

.remember-me {font-size:12px;margin-top:12px;}
.remember-password {font-size:12px;margin-top:3px;}

input.error {color:red;}

body {color:#444; font:13px/16px Arial,Helvetica,sans-serif;}
.wrap {width:1024px; margin:60px auto 40px auto; font-family:Arial, sans-serif; color:#404040; position:relative;}

#logo {display:block; margin:0 auto 12px auto;}

h1, h2, h3, h4, h5, h6 {padding:0; margin:0; border:0;}
h1 {font-size:40px; line-height:40px;}
h6 {margin:4px 0 36px 0;}

.content-area {background-color:rgba(255,255,255,0.9); padding:46px 68px 62px 68px; position:relative; min-width:826; margin-bottom:40px; margin-left:auto; margin-right:auto;}

label {color:#444; font:bold 13px/13px Arial,Helvetica,sans-serif; margin-top:21px; display:block;}
.input-standard {width:256px; height:20px; border:1px solid #AAA; margin-top:8px; display:block; padding-left:4px;}
.mice-type {font:bold 10px/16px Arial,Helvetica,sans-serif; color:#269dcf; text-decoration:none; display:block; text-align:right; margin-top:1px; cursor:pointer;}

.footer {clear:both; text-align:center; color:#FFF; text-shadow:1px 1px 1px #000; font:11px Tahoma,sans-serif; padding-top:50px; padding-bottom:60px; z-index:1000; position:relative}
.footer a {color:#fff; text-decoration:none;}
.footer img {position:relative; top:8px;}

.float-cap {clear:both;}

.ribbon {width:100%; height:44px; position:fixed; top:0; left:0; background:#000; z-index:9001; color:#FFF;}
.ribbon-contents {width:1024px; margin: 0 auto;}
.ribbon-logo img {margin:7px 0;}
.ribbon-player {float:right; height:50px; line-height: 44px;}
.ribbon-player .button {margin:0 0 0 5px;
	-moz-box-shadow:inset 0px 1px 0px 0px #d197fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d197fe;
	box-shadow:inset 0px 1px 0px 0px #d197fe;
}

 h6.breadcrumb{
	font-size: .75em;
	
}

/* ******************************************************************** */
/* ** LANDING PAGES                                                  ** */
/* ******************************************************************** */
.landing-hero {position:absolute; right:-127px; bottom:-187px;}
#landing-page .hero-copy {margin:30px 0 10px 0; font-size:1.2em;}
#landing-page .button-icon-email {margin:30px 0 10px 0; font-size:1.2em;}
#landing-page .hero {right:-127px; bottom:-187px;}
#landing-page .login-area {width:262px; float:left;}
#landing-page .new-player-area {width:262px; float:right;}
#landing-page .new-player-area .button-email {margin-top:28px;}
#landing-page-w-cookie .content-area {width:430px;}
#landing-page-w-cookie .mice-type {text-align:left; margin-left:144px;}
#landing-page-w-cookie h1 {text-align:center; padding-bottom:20px;}

#landing-page-w-cookie label.error {margin-right:167px;}

#lost-password .content-area, #reset-password .content-area, #reset-password-success .content-area {width:470px;}
#lost-password h1, #reset-password h1, #reset-password-success h1 {margin-bottom:24px;}

#lost-password .button-email div {background:url(images/button-icon-email.png) no-repeat; width:60px; padding-left:34px;}

#reset-password .button-save {margin-top:28px;}
#reset-password .button-save div {width:130px;}
#reset-password .content-area {width:470px;}

#reset-password-success .button-back {margin-top:28px;}
#reset-password-success .button-back div {width:130px;}



/* ******************************************************************** */
/* ** WAR ROOM                                                       ** */
/* ******************************************************************** */
#war-room .content-area {margin-top:82px;}



/* ******************************************************************** */
/* ** ADMIN CONTROLS                                                 ** */
/* ******************************************************************** */
#administer-user-permissions .button-generic.button-orange {margin-top:50px;}
#administer-user-permissions .button-save.button-orange {margin-top:20px;}
#administer-user-permissions h2 {margin:6px 0 44px 0;}
#administer-user-permissions select {width:250px; box-sizing:border-box; font-size:20px; line-height:28px; padding:10px;}
#administer-user-permissions .multiselect-container {padding:8px; overflow:auto; width:629px; margin:0 auto;}
#administer-user-permissions .multiselect-column {width:252px; font-size:12px;}
#administer-user-permissions .multiselect-container > div {float:left; padding:4px;}
#administer-user-permissions .multiselect-buttons {width:100px; text-align:center;}
#administer-user-permissions .button-container {float:right;}
