<div>
	<div class="col-lg-4">
		<button type="button" class="btn btn-primary btn-sm btn-block"ng-click="hide(allergy)" ng-disabled="isDisabled"><i
				class="fa fa-eye-slash"></i> Hide Allergy
		</button>
	</div>
	<div class="col-lg-4">
		<button type="button" class="btn btn-primary btn-sm btn-block"ng-click="openEdit()" ng-disabled="isDisabled"><i
				class="fa fa-edit"></i> Edit Allergy
		</button>
	</div>
	<div class="col-lg-4">
		<button type="button" class="btn btn-primary btn-sm btn-block"ng-click="openAdd()"><i
				class="fa fa-plus-square-o"></i> Add Allergy
		</button>
	</div>

</div>