<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Basic Form</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Forms</a>
            </li>
            <li class="active">
                <strong>Basic Form</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SearchCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Welcome, CGM Admin!
                </h1>
			</div>
        </div>
    </div>
	<div class="row">
	<div class="col-lg-2">
	</div>	
	<div class="col-lg-8">
	<div class="ibox-content" style="text-align:center">
			<div slim-scroll box-height="160px">
				<p>
					<h2 >This is the Home page.</h2>					
				</p>
				<p>
					You can start your patient search here by using the <strong>Search for something...</strong> field.
				</p>
				<p>
					You can search by patient ID, Medical Record Number, or Patient Name. Currently, there are 20 patient IDs numbered from <strong>1 - 20</strong>.  There are also Medical Record Numbers numbered from <strong>100001 - 100020</strong> .  In addition, a few example names are <strong>Andy Anderson, Nancy Noonan, and Rochelle Robertson</strong>.
				</p>
				<p>
				  We hope you enjoy this brief demonstration.
				</p>
			</div>
		</div>
	</div>	
	<div class="col-lg-2">
	</div>
	
</div>